<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate" />
  <meta content="Mashup templates have been developped by Orson.io team" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="../static/assets/apple-icon-180x180.png">
  <link href="../static/assets/favicon.ico" rel="icon">

  <title>Title page</title>  

<link href="../static/main.d8e0d294.css" rel="stylesheet"></head>

<body class="">

<!-- Add your content of header -->
<div class="background-color-layer" style="background-image: url('../static/assets/images/img-01.jpg')"
></div>
<main class="content-wrapper">
  <header class="white-text-container section-container">
    <div class="text-center">
      <h1>I am Krzysztof Karczmarczyk</h1>
      <p>Your new employee</p>
      <p>
        <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/krzysztof-karczmarczyk-85735434/" title="">
          <i class="fa fa-linkedin"></i>
        </a>
      </p>
    </div>
  </header>



<!-- Add your site or app content here -->
 
 <div class="container">
   <div class="row">
     <div class="col-xs-12">

        <div class="card">
          <div class="card-block">
            <h2>About me</h2>
            <div class="row">
              <div class="col-md-4">
                <p><img src="../static/assets/images/img-01.jpg" class="img-responsive" alt=""></p>
              </div>
              <div class="col-md-8">

              <p>Always curious about life (just look at the picture!) and always wanting more from it.</p>
              <p>Born and raised in Warsaw Poland, a pleasant path of life lied in front of me.</p>
              <p>Young (on paper - I don't intend to get actually old) Krzysztof showed interest in a variety of fields. From chess, history, math, video games to playing and teaching tennis</p>
              <p>I graduated from the top commercial university, completed a few internships - from small local business, through Ministry of Finance to a duty free retailer.</p>
              <p>Finally I joined Nestle's graduate program where I first experienced multinational procurement best practices (and some corporate neocolonial approach to Eastern European branches).</p>
              <p>Everything was going great (great team, promotion), but there was more to life, more to explore (that's right - Australia).</p>
              <p>I changed companies so I could save up a bit more $ and use English more when the Working Holoiday Visa opportunity arose.</p>
              <p>Took the leap of faith, landed in this beautiful (though slightly burnt) country and landed my first job just over a week later.</p>
              <p>Spent 2.5 years with RB who were kind enough to sponsor my visa, ran 2 tenders for contract packing - first introducing a new supplier for the first time in 8 years, second to move 
                the operation to RBs new warehouse, offshored point of sales materials manufacturing and implemented safety stock models massively reducing lead-times, then went on to work 
                for an iconic Australian brand in Blackmores. RB was a great company to work for (would've been even better had I wanted to move back to Europe
                to grow within their structures).</p>
              <p>Blackmores days - 3 CEOs, 3 COOs and 5 line managers later, my passion project which I had been pushing for from day 1 - building a bespoke SRM solution - got approved and I've 
                been the driving and creative force as the Product Owner ever since.</p>
              <p>Now, weeks away from my Australian citizenship ceremony, after releasing the solution to the broader business and training users, with the developers resources moving slowly 
                towards other initiatives it is time to consider moving on.</p>
              <p>And that's where NBN came along...</p>
              <p></p>
              <p>PS. If the website doesn't tell it - I'm learning some programming so I can speak the same language (at least to some extent) with IT crowd or do some automation myself.</p>

              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div class="row">
              <div class="col-md-4">
                <img src="../static/assets/images/srm2.jpg" class="img-responsive" alt="" style="width:1500px;height:190px;">
                <h3 class="h5">Supplier Relationship Management</h3>
                <p>2019</p>
              </div>
              <div class="col-md-4">
                <img src="../static/assets/images/password_checker.jpg" class="img-responsive" alt="" style="width:1500px;height:190px;">
                <h3 class="h5">Bit of code</h3>
                <p>2019</p>
              </div>
              <div class="col-md-4">
                <img src="../static/assets/images/Watermarker.jpg" class="img-responsive" alt="" style="width:1500px;height:190px;">
                <h3 class="h5">Some more code</h3>
                <p>2020</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Work that you'd already know from my CV</h2>
            <div class="work-experience">
              <small class="date">from 2017</small>
              <h3 class="h5 date-title">Senior Disruptor - <a href="https://www.blackmores.com.au/" title="Create professionnal website">Blackmores Ltd</a></h3>
              

              <p>CV content for more details.</p>
            </div>

            <div class="work-experience">
              <small class="date">2015-2017</small>
              <h3 class="h5 date-title">Modern slave - <a href="https://www.rb.com/" title="">Reckitt Benckiser</a></h3>
              
              <p>Already explained it's a joke</p>
            </div>
          </div>
        </div>
        

        <div class="card">
          <div class="card-block">
            <h2>Education</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2017-2012</small>
                  <h3 class="h5 date-title">Race Rat Bachelor & Master - International Economics; Finance and Accounting</h3>
                  <p>Warsaw School of Economics</p>
                </div>
                
              </div>
              
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Courses</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2019</small>
                  <h3 class="h5 date-title">Lean Six Sigma - Define and Measure</h3>
                  <p>Technical University of Munich through EDX</p>
                </div>
                
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2019</small>
                  <h3 class="h5 date-title">Certified Scrum Product Owner</h3>
                  <p>Scrum Alliance</p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="education-experience">
                  <small class="date">2019</small>
                  <h3 class="h5 date-title">Agile Project Management</h3>
                  <p>University of Meryland through EDX</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Language</h2>
            <div class="row">
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">English  <small>Fluent</small></h3>
                </div>
              </div>
              <div class="col-md-4">
                <div class="language-experience">
                  <h3 class="h5">Polish  <small>Native</small></h3>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Projects</h2>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
              <div class="item active">
                <img src="../static/assets/images/srm2.jpg" class="img-responsive" alt="..." style="width:2100px;height:650px;">
                <div class="carousel-caption">
                  <h3 class="h5">Supplier Relationship Management solutionM</h3>
                  <p>2019</p>
                </div>
              </div>
              <div class="item">
                <img src="../static/assets/images/password_checker.jpg" class="img-responsive" alt="..." style="width:800px;height:650px;">
                <div class="carousel-caption">
                  <h3 class="h5">Hacked passwords checker</h3>
                  <p>2019</p>
                </div>
              </div>

              <div class="item">
                <img src="../static/assets/images/Watermarker.jpg" class="img-responsive" alt="..." style="width:800px;height:650px;">
                <div class="carousel-caption">
                  <h3 class="h5">Watermarking PDFs</h3>
                  <p>2019</p>
                </div>
              </div>
            </div>

            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>

          </div>
          </div>
        </div>
        
        <div class="card">
          <div class="card-block">
            <h2>Social Network</h2>
            <script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>
            <div class="row">
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.codewars.com/users/KKarc/" title=""><span class="iconify" data-icon="simple-icons:codewars" data-inline="true"></span> Code Wars</a></p>
              </div>
              <div class="col-md-3">
                <p class="social-buttons"><a href="https://www.linkedin.com/in/krzysztof-karczmarczyk-85735434/" title=""><span class="iconify" data-icon="il-linkedin" data-inline="true"></span> LinkedIn</a></p>
              </div>
              <!-- <div class="col-md-3">
                <p class="social-buttons"><a href="https://github.com/KKarc/" title=""><span class="iconify" data-icon="brandico:github-text" data-inline="true"></span> GitHub (pretty empty)</a></p>
              </div> -->
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-block">
            <h2>Contact (my complicated email pretyped for you)</h2>
            <form action="mailto:karczmarczyk.krzysztof@gmail.com" method="post" class="reveal-content">
              <!-- <div class="form-group">
                <input type="email" class="form-control" id="email" placeholder="Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Enter your message"></textarea>
              </div> -->
              <div class="form-group">
                <button type="submit" class=" btn btn-primary">Send message</button>
              </div> 
            </form>
          </div>
        </div>
       
     </div>
   </div>
 </div>

</main>
<footer class="footer-container white-text-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><img src="../static/assets/images/mashup-icon.svg" alt=""></p>
        
        <p>©All right reserved. Design <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
        <p>
          <a class="fa-icon fa-icon-2x" href="https://facebook.com/" title="">
            <i class="fa fa-facebook"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://twitter.com/" title="">
            <i class="fa fa-twitter"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://dribbble.com/" title="">
            <i class="fa fa-dribbble"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://www.linkedin.com/" title="">
            <i class="fa fa-linkedin"></i>
          </a>
          <a class="fa-icon fa-icon-2x" href="https://vimeo.com/" title="">
            <i class="fa fa-vimeo"></i>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     scrollRevelation('.card');
  });
</script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--><script type="text/javascript" src="../static/main.bc58148c.js"></script></body>

</html>